/* =========================
   HEADER
========================= */
header {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: var(--primary-color);
}

/* =========================
   NAVBAR LAYOUT
========================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm);
    margin: 0 auto;
    max-width: var(--site-max-width);
}

/* =========================
   LOGO
========================= */
.navbar__logo-text {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--white-color);
}

/* =========================
   MENU (DESKTOP)
========================= */
.navbar__menu {
    display: flex;
    gap: var(--spacing-sm);
}

/* =========================
   LINK
========================= */
.navbar__link {
    padding: var(--spacing-2xs) var(--spacing-sm);
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar__link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

/* =========================
   MENU BUTTON (HIDDEN - DESKTOP)
========================= */
.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}
