
/* navbar styling */
header {
    background: var(--primary-color);
    width: 100%;
    z-index: 5;
    position: fixed;
}

.navbar {
    display: flex;
    padding:  var(--spacing-sm);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.navbar__logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar__menu {
    display: flex;
    gap: var(--spacing-sm);
}

.navbar__link {
    padding: var(--spacing-2xs) var(--spacing-sm);
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar__link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}
.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}
/* Responsive media query code for max width 900px */

@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xL: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(var(--spacing-3xs));
        background: rgba(0, 0, 0, 0.2);
    }
    
    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar #menu-close-button {
        position: absolute;
        inset: var(--spacing-lg) var(--spacing-lg) auto auto;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }
    .navbar__menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: calc(var(--spacing-unit) * 25);
        background: var(--white-color);
        transition: left 0.3s ease;
    }
    body.show-mobile-menu .navbar__menu {
        left:0;
    }

    .navbar__link {
        color: var(--dark-color);
        display: block;
        margin-top: var(--spacing-sm);
        font-size: var(--font-size-l);
    }
}