
.hero {
    background-color: var(--primary-color);

}

.hero__container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: var(--spacing-sm)
}

.hero__title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", "sans-serif";
}
.hero__subtitle {
    margin-top: var(--spacing-2xs);
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero__description {
    max-width:70%;
    margin: var(--spacing-md) 0 var(--spacing-xl);
    font-size: var(--font-size-m);
}
.hero__actions {
    display: flex;
    gap: var(--spacing-md);
}
.hero__button {
    padding: var(--spacing-xs) var(--spacing-lg);
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.hero__button:hover,
.hero__button--secondary {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero__button--secondary:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.hero__image-wrapper {
    max-width: var(--image-width);
    margin-right: var(--spacing-lg);
}

@media screen and (max-width: 900px) {

    .hero__content :is(.hero__subtitle, .hero__description) {
        max-width: 100%;
    }
    .hero__actions {
        justify-content: center;
    }
    .hero__container {
        gap: var(--spacing-xl);
        text-align: center;
        padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md);
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero__image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }
}