@import url('../base/variables.css');

.hero {
    min-height: 100vh;
    background-color: var(--primary-color);

}

.hero__container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: var(--spacing-sm)
}

.hero__title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", "sans-serif";
}
.hero__subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero__description {
    max-width:70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}
.hero__actions {
    display: flex;
    gap: 23px;
}
.hero__button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.hero__button:hover,
.hero__button--secondary {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero__button--secondary:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.hero__image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}