/* =========================
   HERO SECTION
========================= */
.hero {
    background-color: var(--primary-color);
}

/* =========================
   HERO LAYOUT
========================= */
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 100vh;
    margin: 0 auto;
    max-width: var(--site-max-width);
    padding: var(--spacing-sm);

    color: var(--white-color);
}

/* =========================
   HERO CONTENT
========================= */
.hero__title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", "sans-serif";
}

.hero__subtitle {
    margin-top: var(--spacing-2xs);
    max-width: 70%;

    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero__description {
    max-width: 70%;
    margin: var(--spacing-md) 0 var(--spacing-xl);

    font-size: var(--font-size-m);
}

/* =========================
   ACTIONS (BUTTON GROUP)
========================= */
.hero__actions {
    display: flex;
    gap: var(--spacing-md);
}

/* =========================
   BUTTON
========================= */
.hero__button {
    padding: var(--spacing-xs) var(--spacing-lg);

    color: var(--primary-color);
    background: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);

    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

/* state + modifier */
.hero__button:hover,
.hero__button--secondary {
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
}

.hero__button--secondary:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* =========================
   IMAGE
========================= */
.hero__image-wrapper {
    max-width: var(--image-width);
    margin-right: var(--spacing-lg);
}
